@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.Product_card{
    box-shadow: 10px 10px 10px pink;
}
.Product_card:hover{
    box-shadow: 5px 5px 5px darkorchid;
}


/* ABOUT ME  */

.about_me_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./images/blueBubbles2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about_h1{
    font-size: 75px;
    color: white;
}
.about_me_para {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    text-indent: 20px;
}
#about_me_pic {
    height: 300px;
    width: 300px;
   box-shadow: 10px 10px 10px #fff;
   margin-bottom: 35px;
}


/* FOOTER */
.copyRight {
    background-color: black;
    color: #fff;
}
.footerButtons {
    background-color: black;
    padding: 10px;
    margin-bottom: 8px;
    border: none;
    color: rgb(10, 210, 236);
}
.footer-icons{
    color: rgb(22, 193, 223);
    border: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
/* TESTIMONIALS */
.test_container {
    height: 400px;
}
.carousel_height{
    height: 400px;
    display: flex;
    flex-direction: column;
}

/* PRODUCTS CARDS */
#product_image_card{
    max-width: 300px;
    max-height: 300px;
}

.product_button {
    color: black;
    background-color: transparent;
    border: none
;
}
.product_button:hover {
    border: 1px solid darkgrey;
    box-shadow: 4x 4px 2px darkgrey;
    background-color: blue;
}

.card_money {
    justify-content: center;
    color: green;
    
}

/* ABOUT  */

.about_image_div {
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    height: 400px;
    width: 400px;
    animation-name: switchSpots;
    animation-duration: 2s;
}
.about_image_div:hover {
    box-shadow: 5px 5px 5px purple;
    margin: 5px;
    height: 400px;
    width: 400px;

}
@keyframes switchSpots {
    0% {
       transform: translateY(0);
    }
    100% {
       transform: translateY(50px);
    }
}
.about_image_div_2 {
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    height: 400px;
    width: 400px;
}

.Product_card {
    position: relative;
    display: block;
    color: #ff7675;
    font-size: 16px;
    font-family: "Helvetica";
    text-decoration: none;
    border: 2px solid pink;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 2
}
.Product_card:before{
    background: rgb(221, 10, 221);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 1s ease;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
      }
.Product_card:hover {
    text-decoration: none;
    border: blueviolet;
    cursor: pointer;
    background-color: #81c9e49d;
    color: white;

}
.Product_card:hover::before{
    height: 380%;
}
/* @media only screen and (max-width: 700px){
    .Product_card {
       margin-right: 10%;
    }
} */
.jumboH3 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
    margin-top: 3%;
    animation-name: moveInleft;
    animation-duration: 2s;

  }
.jumboH4 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
    animation-name: moveInRight;
    animation-duration: 2s;
  }

@media only screen and (max-width: 700px){
    .jumboH3{
       font-size: 40px;
    }
}
@media only screen and (max-width: 700px){
    .jumboH4{
       font-size: 40px;
    }
}
  @keyframes moveInleft {
    0% {
     opacity: 0;
     transform: translateX(-100px);
    }
    80% {
     transform: translateX(20px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
 }
 @keyframes moveInRight {
    0% {
     opacity: 0;
     transform: translateX(100px);
    }
    80% {
     transform: translateX(-10px);
    }
 
    100% {
    opacity: 1;
    transform: translateX(0);
    }
 }
 .greetings {
    font-weight: bold;
    font-size: 20px;

 }