.card_card {
    width: 300px;
    box-shadow: 10px 10px 10px black;
    margin: 10px;
}
.card_card:hover {
    width: 300px;
    box-shadow: 10px 10px 10px lightcyan;

}
.review_container {
    height: 500px;
 
}
#product_image_card{
    max-width: 300px;
    max-height: 300px;
}
.review_carousel {
    height: 500px;
    margin-bottom: 2px;
}
.product_button {
    color: black;
    background-color: transparent;
    border: none
;
}
.product_button:hover {
    border: 1px solid darkgrey;
    box-shadow: 4x 4px 2px darkgrey;
    background-color: blue;
}

.card_money {
    justify-content: center;
    color: green;
    
}