@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.Product_card{
    box-shadow: 10px 10px 10px pink;
}
.Product_card:hover{
    box-shadow: 5px 5px 5px darkorchid;
}


/* ABOUT ME  */
.css-text-mask {
	font-size: 89px;
	font-family: 'Black And White Picture', sans-serif;
	background-image: url('https://html-generator.com/uploads/images/2022/08/02/21175W99P9U2LDS.jpg');
	background-position: 0px 0px;
	-webkit-animation: animatedBackground 10s linear infinite normal;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}

@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0 }
	100% { background-position: 500px 0 }
}
@media only screen and (max-width: 700px){
    .css-text-mask{
       font-size: 20px;
    }
}
.about_me_container {
    height: 1000px;
    background-image: url('./images/bubble_heart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about_h1{
    font-size: 75px;
    color: white;
}
.left_about_col{
    height: 600px;
    
}
.right_about_col {
    height: 1000px;
    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: clip; */
   
}

.about_me_pic {
    height: 400px;
    width: 400px;
}
.about_me_para {
    font-size: 14px;
    overflow: hidden;
    color: #fff;
}
@media only screen and (max-width: 700px){
    .right_about_col{
       height: 1000px;
    }
}
.clear {
    clear: both;
}
/* .heart-shape{
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(250,184,66, 1);
  }
  .heart-shape:before,
  .heart-shape:after{
    position: absolute;
    width: 200px;
    height: 200px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(250,184,66, 1);
  }
  .heart-shape:before{
    bottom: 0px;
    left: -100px;
  }
  .heart-shape:after{
    top: -100px;
    right: 0px;
  } */


#animation-demo {
	width: 200px;
	height: 150px;
	position: relative;
} 

.animated {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes perspectiveLeft {
    0% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(800px) rotateY(0deg);
    }
    100% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(800px) rotateY(-180deg);
    }
}
@keyframes perspectiveLeft {
    0% {
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(0deg);
    }
    100% {
        transform-origin: 0 0;
        transform: perspective(800px) rotateY(-180deg);
    }
}
.perspectiveLeft {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: perspectiveLeft;
    animation-name: perspectiveLeft;
}
.css-text-mask {
	font-size: 99px;
	font-family: 'ZCOOL XiaoWei', serif;
	font-weight: bold;
	letter-spacing: 8px;
	background-image: url('https://html-generator.com/uploads/images/2022/07/31/97637BZF9HWFNFY.jpg');
	background-position: -212px 0px;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}

#animation-demo2 {
	width: 200px;
	height: 150px;
	position: relative;
} 

.animated {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes perspectiveRight {
    0% {
        -webkit-transform-origin: 100% 0;
        -webkit-transform: perspective(800px) rotateY(0deg);
    }
    100% {
        -webkit-transform-origin: 100% 0;
        -webkit-transform: perspective(800px) rotateY(180deg);
    }
}
@keyframes perspectiveRight {
    0% {
        transform-origin: 100% 0;
        transform: perspective(800px) rotateY(0deg);
    }
    100% {
        transform-origin: 100% 0;
        transform: perspective(800px) rotateY(180deg);
    }
}
.perspectiveRight {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: perspectiveRight;
    animation-name: perspectiveRight;
}


/* FOOTER */
.copyRight {
    background-color: black;
    color: #fff;
}
.footerButtons {
    background-color: black;
    padding: 10px;
    margin-bottom: 8px;
    border: none;
    color: rgb(10, 210, 236);
}
.footer-icons{
    color: rgb(22, 193, 223);
    border: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


/* PRODUCTS CARDS */
#product_image_card{
    max-width: 300px;
    max-height: 300px;
}
.review_carousel {
    height: 500px;
    margin-bottom: 2px;
}
.product_button {
    color: black;
    background-color: transparent;
    border: none
;
}
.product_button:hover {
    border: 1px solid darkgrey;
    box-shadow: 4x 4px 2px darkgrey;
    background-color: blue;
}

.card_money {
    justify-content: center;
    color: green;
    
}

/* ABOUT  */

.about_image_div {
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    height: 400px;
    width: 400px;
    animation-name: switchSpots;
    animation-duration: 2s;
}
.about_image_div:hover {
    box-shadow: 5px 5px 5px purple;
    margin: 5px;
    height: 400px;
    width: 400px;

}
@keyframes switchSpots {
    0% {
       transform: translateY(0);
    }
    100% {
       transform: translateY(50px);
    }
}
.about_image_div_2 {
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    height: 400px;
    width: 400px;
}

.Product_card {
    position: relative;
    display: block;
    color: #ff7675;
    font-size: 16px;
    font-family: "Helvetica";
    text-decoration: none;
    /* margin: 30px 0; */
    border: 2px solid pink;
    /* padding: 18px 70px; */
    overflow: hidden;
    transition: 1s all ease;
    z-index: 2
}
.Product_card:before{
    background: rgb(221, 10, 221);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 1s ease;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
      }
.Product_card:hover {
    text-decoration: none;
    border: blueviolet;
    cursor: pointer;
    background-color: #81c9e49d;
    color: white;

}
.Product_card:hover::before{
    height: 380%;
}
.jumboH3 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
    margin-top: 3%;
    animation-name: moveInleft;
    animation-duration: 2s;

  }
.jumboH4 {
    font-family: 'Birthstone', cursive;
    font-size: 60px;
    animation-name: moveInRight;
    animation-duration: 2s;
  }
  .testPara {
    font-size: 20px;
    color: black;
    font-family: 'Arima', cursive;
  }
  @keyframes moveInleft {
    0% {
     opacity: 0;
     transform: translateX(-100px);
    }
    80% {
     transform: translateX(20px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
 }
 @keyframes moveInRight {
    0% {
     opacity: 0;
     transform: translateX(100px);
    }
    80% {
     transform: translateX(-10px);
    }
 
    100% {
    opacity: 1;
    transform: translateX(0);
    }
 }