@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Great+Vibes&display=swap');

.navbar1 {
 background-color: rgb(0, 0, 0);
}
#first_nav{
  display: flex;
  flex-direction: row;
}
.main {
    height: 600px;
    border-bottom: 1px solid black;
    /* margin-bottom: 10%; */
  }

.logo1 {
    height: 50px;
  }
.jumboH1 {
    font-family: 'Birthstone', cursive;
    color:rgb(19, 178, 241);
    font-weight: 500;
    font-size: 75px;
    margin-top: 3%;
    animation-name: moveInleft;
    animation-duration: 2s;
}
.css-text-mask-1{
    font-size: 60px;
    font-family: 'Cherry Swash', cursive;
    font-weight: bold;
    font-style: italic;
    background-image: -webkit-repeating-radial-gradient(94% 48%, ellipse cover, #860999 0%, #14b9de 30%);
    /* background-image: url('https://html-generator.com/uploads/images/2022/07/31/97637BZF9HWFNFY.jpg'); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
 
}
.jumboH2 {
    font-family: 'Birthstone', cursive;
    font-size: 20px;
    animation-name: moveInRight;
    animation-duration: 2s;
}
.jumboH5 {
    font-family: 'Birthstone', cursive;
    font-size: 20px;
    background-color: transparent;
}
#navbardropdown1{
  background-color: transparent;
  color:rgb(19, 178, 241)
}
  /* FIRST BUTTON  */
#first_button{
    align-self: center;
    justify-self: center;
    background-color: palevioletred;
    width: 200px;
    color: white;
    box-shadow: 5px 5px 5px purple;
    border: #cccccc;
    animation-name: moveInUp;
    animation-duration: 2s;
  }
#first_button:hover{
    align-self: center;
    justify-self: center;
    width: 190px;
    background-color: rgb(247, 147, 242);
    color: white;
    box-shadow: 5px 5px 5px rgb(34, 7, 36);
    border: #f172eb;
    transform: translateY(-3px);
  }
 #first_button:active{
    transform: translateY(-1px);
  }
.cat_col {
    height: 300px;
  }
.container_carousel {
    margin-top: 5%;
  }
.cat_image {
    height: 300px;
  }
.footer_container {
    /* position: fixed; */
    height: 300px;
    background-color: #000;
  }
.featured_products_container {
      display: flex;
      flex-direction: column;   
      background-image: url("./product1.jpeg");
      background-color: #cccccc; 
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
}
.product_row {
   align-self: center;
  }
.product_div {
   justify-content: center;
   align-self: center;
  }
  /* ABOUT ME  */
.about_image_div {
    height: 400px;
    width: 400px;
  }
/* CONTACT */
.contact_container {
    height: 500px;
    background-image: url('../components/images/contactMe1.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
   
}

.messageInput {
  height: 80px;
}



@media only screen and (max-width: 500px){
  .contact_container{   
     height: 225px;
    }
}
@media only screen and (max-width: 500px){
    .product_row{   
      align-self: center;
      margin-left: 40%;
    }
}
@media only screen and (max-width: 500px){
    .product_row{   
      align-self: center;
      margin-left: 40%;
    }
}
@media only screen and (max-width: 500px){
    .product_div{
      margin-left: 20%;
      max-width: 300px;
    }
}

@media only screen and (width:934px) {
    .cat_image {
      width: 175px;
      height: 175px
    }
}
@media only screen and (width:700px) {
    .cat_image {
      width: 150px;
      height: 150px
    }
}
@media only screen and (width:650px) {
    .cat_image {
      width: 150px;
      height: 150px
    }
  }
@media only screen and (max-width: 500px) {
    .cat_image {
      width: 100px;
      height: 100px
    }
  }
@media only screen and (max-width: 500px) {
    .jumboH2{
      font-size: 20px;
    }
  }
@media only screen and (max-width: 750px) {
    .jumboH2{
      font-size: 20px;
    }
  }
@media only screen and (max-width: 750px) {
    .jumboH1 {
      font-size: 50px;
    }
  }
@media only screen and (max-width: 500px) {
    .jumboH1 {
      font-size: 30px;
    }
  }
@media only screen and (max-width: 768px) {
    .main {
      height: 500px;
      border-bottom: 1px solid black;
      margin-bottom: 10%;
    }
  }
@media only screen and (max-width: 500px) {
    .main {
      height: 400px;
      border-bottom: 1px solid black;
      margin-bottom: 10%;
    }
  }


  
@keyframes moveInleft {
  0% {
   opacity: 0;
   transform: translateX(-100px);
  }
  80% {
   transform: translateX(20px);
  }
  100% {
  opacity: 1;
  transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
   opacity: 0;
   transform: translateX(100px);
  }
  80% {
   transform: translateX(-10px);
  }

  100% {
  opacity: 1;
  transform: translateX(0);
  }
}
@keyframes moveInUp {
 0% {
   opacity: 0;
   transform: translateY(100px);
  }
  80% {
   transform: translateY(-10px);
  }

  100% {
  opacity: 1;
  transform: translateY(0);
  }
}
.first_carousel{
  height: 500px
}
.carousel_item {
  height: 500px;
}