main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 300px;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

/*editProductGalleyThumbnail*/

.thumbnailControll {
	opacity: 0;
	transition: opacity 0.5s;
}
.thumbnailContainer:hover .thumbnailControll {
	opacity: 1;
}
#search_box_div{
	margin-right: 5%;
	width: 400px;
	
}
@media only screen and (max-width: 750px) {
    #search_box {
     width: 250px;
    }
}










